{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
<p> The year is 20XX and due to an unknown pathogen outbreak civilization as
  we know it has been reduced to rubble. Larger cities fell first due to the
  population density. You are currently in your old apartment but the Z's are
  pounding on your rear door and will break through any moment. You decide
  to gather what you can and you bolt out the front door and head on the
  streets. You know that it is safer on the outskirts of the city but you
  have to go through the thick of it if you want to escape to the other
  side and get to a local farm and live out the rest of days.</p>

<p>HOW TO PLAY: You will have to go through 3 randomly picked areas where you will have to make decisions that will either lead to your escape or it will
  lead to your death. Pick wisely and remeber if you need help just type 'help'. To make a choice enter the number that corrisponds to the choice you want to make.</p>
{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
<form class="" action="" method="post">
  <label for="username">Enter your name:</label>
  <input type="text" name="name" id="name" required>
  <input type="submit" value="Start Game">
</form>
{% endblock %}